:root {
  --background: #e5e5e5;
  --header-background: #2e3440;
  --text-color: #000;
  --text-header: #949494;
  --highlight-button: #fff4da;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --purple: #b48ead;
  --green: #a3be8c;
  --red: #bf616a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  color: var(---text-color);
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
